  
@media (max-width: 575px) {
    .container {
        width: 300px;
    }

    .promo {
        &__title {
            font-size: 21px;
            line-height: 22px;

            &::after {
                display: none;
            }
        }

        &__subtitle {
            font-size: 16px;
            line-height: 18px;
        }

        &__descr {
            font-size: 18px;
            line-height: 18px;
            display: none;
        }

        &__info {
            font-size: 16px;
        }

        &__item {
            margin-top: 40px;
        }

        &::after {
            display: none;
        }

        &::before {
            display: none;
        }
    }

    .title {
        font-size: 20px;

        &_line {
            &::before {
                display: none;
            }
        }
    }

    .advantages {
        &__info {
            margin-left: 0px;
            margin-top: 70px;
        }

        &__img {
            top: 0px;
            left: 50%;
            transform: translateX(-50%);
        }

        &__title {
            text-align: center;
        }

        &__descr {
            text-align: center;
        }
    }

    .feed-input {
        input {
            width: 210px;
        }
    }

    .questions {
        &__form {
            width: 240px;

            &-textarea {
                width: 210px;
            }
        }
    }

    .footer {
        &::before {
            width: 300px;
            bottom: 145px;
        }
        &__text {
            display: none;
        }

        &__autor {
            text-align: center;
        }

        &__designer {
            text-align: center;
            padding-right: 15px;
        }
    }

    .slider {
        width: 250px;

        .slick {
            &-prev, &-next {
                left: 10%;        
            }
        
            &-next {
                left: 80%;
            }
        }
    }
}