@media (max-width: 767px) { 
    .container {
        width: 540px;
    }

    .promo {
        &__title {
            font-size: 38px;
            line-height: 38px;

            &::after {
                top: 340px;
            }
        }

        &__subtitle {
            font-size: 24px;
            line-height: 24px;
        }

        &__descr {
            font-size: 18px;
            line-height: 18px;
        }

        &__info {
            font-size: 16px;
        }

        &::after {
            width: 220px;
            top: 345px;
        }

        &::before {
            width: 220px;
            top: 345px;
            transform: translateX(-240px);
        }

        &__item {
            &:nth-child(3), &:last-child  {
                margin-top: 0px;
            }
        }
    }

    .call {
        display: block;

        &__phone {
            margin: 0px 0px 10px 0px;
        }

        &-header {
            margin-top: 50px;
        }

        &-footer {
            margin-top: 10px;
        }
    }

    .btn {
        &_call {
            margin: 0px 10px 0px auto;
        }
    }

    .title {
        font-size: 24px;
    }

    .work {
        &__info {
            padding: 0px 20px;
        }

        &__img {
            height: 175px;
        }
    }

    .questions {
        &__form {
            width: 500px;

            &-textarea {
                width: 390px;
            }
        }
    }

    .footer {
        &__text {
            margin-top: 45px;
        }

        &::before {
            width: 540px;
        }
        &__designer {
            span {
                display: none;
            }
        }
    }

    .slider {
        width: 450px;

        .slick {
            &-prev, &-next {
                left: 29%;        
            }
        
            &-next {
                left: 65%;
            }
        }
    }

    .pageup {
        width: 30px;
        height: 30px;
        bottom: 40px;
        right: 20px;
    }
}