@media (max-width: 767px) { 
    .container {
        width: 540px;
    }

    .promo {
        &__title {
            font-size: 38px;
            line-height: 38px;

            &::after {
                top: 290px;
            }
        }

        &__subtitle {
            font-size: 24px;
            line-height: 24px;
        }

        &__descr {
            font-size: 18px;
            line-height: 18px;
        }

        &__info {
            font-size: 16px;
        }

        &::after {
            width: 220px;
            top: 295px;
        }

        &::before {
            width: 220px;
            top: 295px;
            transform: translateX(-240px);
        }
    }

    .menu {
        display: none;
    }

    .call {
        &-header {
            margin-top: 40px;
        }

        &__phone {
            a {
                font-size: 12px;
            }
        }
    }

    .btn {
        &_call {
            width: 110px;
            height: 35px;
            font-size: 10px;
        }
    }

    .title {
        font-size: 24px;
    }

    .work {
        &__info {
            padding: 0px 20px;
        }

        &__img {
            height: 175px;
        }
    }

    .consultation {

        &__form {
            height: 283px;
        }

        &__wrap-btn {
            top: 260px;
        }
    }

    .feed-input {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        input {
            width: 268px;
            margin: 5px;
        }
    }

    .questions {
        &__form {
            width: 500px;

            &-textarea {
                width: 390px;
            }
        }
    }

    .footer {
        &::before {
            width: 540px;
        }
        &__designer {
            span {
                display: none;
            }
        }
    }
}