@media ( max-width: 991px) {
    .container {
        width: 740px;
    }

    .promo {
        padding-top: 180px;

        &__title {
            font-size: 50px;
            &::after {
                top: 390px;
            }
        }

        &__subtitle {
            font-size: 30px;
        }

        &__descr {
            font-size: 22px;
        }

        &__info {
            font-size: 14px;
        }

        &::after {
            width: 300px;
            top: 395px;
        }

        &::before {
            width: 300px;
            transform: translateX(-320px);
            top: 395px;
        }
    }

    .header {

        &__logo {
            top: 60px;
        }        
    }

    .menu {
        margin-top: 25px;

        ul {
            display: block;
        }

        &__item {
            border-left: 1px dotted #ffffff;
            text-align: center;

            &:last-child {
                border-right: 1px dotted #ffffff;
            }
        }
    }

    .call {
        &-header {
            margin-top: 70px;
        }
    }

    .people {
        &__descr {
            padding: 0px;
        }
    }

    .delivery {
        &__wrapper {
            height: 357px;
        }

        &__descr {
            padding: 0px 10px;
        }
    }

    .questions {
        &__form {
            width: 710px;

            &-textarea {
                width: 500px;
            }
        }
    }

    .footer {
        &::before {
            width: 740px;
        }
        &__text {
            padding-left: 100px;
        }
    }

    .feed-input {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        input {
            width: 268px;
            margin: 5px;
        }
    }

    .pageup {
        width: 40px;
        height: 40px;
        bottom: 50px;
        right: 30px;
    }
}