.menu {
    margin: 60px 0px 0px 0px;
    padding: 0px 0px 0px 135px;

    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        padding: 0px;
    }

    &__item {
        border-right: 1px dotted #ffffff;
        padding: 0px 17px;

        &:last-child {
            border-right: none;
        }

    }

    &__link {
        color: #ffffff;
        font-size: 15px;
        font-weight: 400;

        &:hover {
            color: $color-mine;
        }
    }
}