.title {
    font-size: 26px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    text-transform: uppercase;

    &_light {
        font-size: 28px;
        font-weight: 400;
        text-transform: none;
    }
}