.header {
    min-height: 132px;
    width: 100%;
    position: absolute;
    top: 0;

    &__logo {
        margin-top: 23px;
        width: 97px;
        height: 97px;
    }

    &__wrapper {
        display: flex;
        justify-content: end;
        margin-top: 42px;
    }

    &__phone {
        color: #ffffff;
        text-align: end;
        

        span {
            font-size: 14px;
            line-height: 14px;
            font-weight: 300;
        }
    }

    &__tel {
        font-size: 19px;
        line-height: 19px;
        font-weight: 700;
        margin-top: 4px;

        a {
            color: #ffffff;

            &:hover {
                color: #ffffff;
            }
        }
    }
}