.reviews {
    min-height: 470px;
    padding: 52px 0px 66px 0px;

    &__title {
        font-size: 21px;
        line-height: 21px;
        font-weight: 300;
        text-align: center;
        margin-top: 44px;
    }
}